header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
    width: 100%;
    max-width: 100%;
    padding: 3rem 0;
}

.logo-box{
    padding: 2rem 1rem;
    @include respond(small-screen){
        margin-top: 3.5rem;
    margin-left: -9rem;
    }
}

.nav{
   
    @include respond(small-screen){
        display: none;
    }
    &__items{
        position: relative;
        right: 10rem;
        display: flex;
        align-items: center;
        
    }
    &__list{
        list-style: none;
        margin-left: 2rem;
    }
    &__link{
        color: $blue;
        font-size: 1rem;
        font-weight: 400;
        text-transform: capitalize;
    }
    &__mobile-link{
        display: block;
        color: $white;
        text-transform: capitalize;
        margin: 2rem 3rem;
    }
    &__mobile-join{
        color: $orange;
        text-transform: capitalize;
        margin: 2rem 3rem;
    }
}

.mobile-menu-button{
    @include respond(small-screen){
        display: none;
    }
}

.mobile-menu{
    display: none;
    @include respond(small-screen){
        display: block;
    }
}
/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    right: 36px;
    top: 36px;
    display: none;
    @include respond(small-screen){
        display: block;
    }
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: $blue;
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: $blue;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    position: fixed;
    height: 100%;
    top: 0;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: $blue;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
    padding: 0.8em;
  }
  
  /* Individual item */
  .bm-item {
    display: block;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0);
   display: none;
   @include respond(small-screen){
    display: block;
}
  }