.home-hero{
    padding: 5rem 10rem 0 10rem;
    @include respond(small-screen){
        padding: 3rem 2rem 0 2rem;
    }
    &__header{
        display: flex;
        justify-content: space-around;
        @include respond(small-screen){
            flex-direction: column;
        }
    }
    &__heading-secondary{
        color: $orange;
        font-size: 2.5rem;
       
    }

    &__button{
        font-size: 1.5rem;
        @include respond(small-screen){
            font-size: 2.5rem;
        }
    }

    &__heading-primary{
        color: $orange;
        font-size: 4rem;
        margin-top: -3rem;
    }   
}

.image{
    @include respond(small-screen){
        margin: 5rem;
    }
}