.home-hero{
    padding: 5rem 7rem 0 10rem;
    @include respond( big-tab){
        padding: 5rem 7rem 0 18rem;
    }
    @include respond(medium){
        padding: 5rem 4rem 0 18rem;
    }
    @include respond(small-screen){
        padding: 3rem 2rem 0 2rem;
    }
    &__header{
        display: flex;
        justify-content: space-evenly;
        @include respond(small-screen){
            flex-direction: column;
        }
    }
    &__heading-secondary{
        color: $orange;
        font-size: 2.5rem;
       
    }
    &__text{
        font-weight: 700;
        color: $black;
        font-size: 1rem;
        margin-bottom: 2rem;
    }
    &__text-content{
        flex: 0 0 50%;
        @include respond(big-tab){
            flex: 0 0 65%;
        }
    }
    &__heading-primary{
        color: $orange;
        font-size: 2rem;
        margin-top: -3rem;
    }
    &__button{
        position: relative;
        z-index: 1;
    }   

    &__image{
        height: 80%;
        @include respond( big-tab){
            height: 66%;
        }
        @include respond(small-screen){
            height: 48rem;;
          }
    }
}

.image{
  
    @include respond(small-screen){
        margin: 4rem 12rem;
    }
}