.steps{
    padding: 2rem 10rem;
    position: relative;
    margin-bottom: 10rem;
    @include respond(big-tab){
        padding: 3rem 6rem;
    }
   
    @include respond(small-screen){
        padding: 2rem 3rem;
    }
   
    &__heading-secondary{
        color: $orange;
        font-size: 2rem;
        margin-bottom: 2rem;
        text-shadow: 4px 6px 21px rgba(172,172,172,0.73);
        text-transform: capitalize;
        @include respond(small-screen){
            text-align: center;
        }
    }

    &__cards{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        @include respond(small-screen){
            flex-direction: column;
        }
    }

    &__card{
        height: 10rem;
        width: 15rem;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        z-index: 1;
        @include respond(small-screen){
            margin-top: 2.5rem;
        }
    }
    &__number{
        color: $orange;
        display: block;
        font-size: 6rem;
        text-shadow: 4px 6px 21px rgba(172,172,172,0.73);
        margin: 1rem 0;
        @include respond(mobile-screen){
            margin: -1rem 0;
        }
    }
    &__card-text{
        font-size: 1rem;
        color: $black;
        text-shadow: 4px 6px 21px rgba(172,172,172,0.73);
        @include respond(small-screen){
            margin-bottom: 2.5rem;
        }
    }    
}



.bold{
    font-weight: 600;
}