.features{
    padding: 5rem 10rem;
    @include respond( big-tab){
        padding: 3rem 6rem;
    }
   
    @include respond(mobile-screen){
        padding: 2rem 1rem;
    }
    &__heading-secondary{
        color: $orange;
        font-size: 2rem;
        margin-bottom: 1.5rem;
        text-shadow: 4px 6px 21px rgba(172,172,172,0.73);
        text-transform: capitalize;
        @include respond(small-screen){
            text-align: center;
        }
    }
 
    &__cards{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include respond(small-screen){
            flex-direction: column;
        }
    }
    &__card{
        height: 17rem;
        width: 12rem;
        background-color: $white;
        box-shadow: $box-shadow;
        border: none;
        border-radius: $border-radius;
        margin-top: 2rem;
        cursor: pointer;
        padding: 0 1rem;
        z-index: 1;
    }
    &__card-image{
        height: 14rem;
        width: 10rem;
        object-fit: cover;
    }
    &__card-title{
        margin-top: -2.5rem;
    }
    &__card-more{
        position: relative;
        color: $white;
        font-size: 1rem;
        top: -1rem;
        padding: 0 1rem;
        text-align: center;
    }
    &__card-more-image{
        height: 9.5rem;
        width: 10rem;
        top: 1rem;
        position: relative;
        box-shadow: $box-shadow;
    }
    &__button{
        position: relative;
        top: 4rem;
        left: .5rem;
        @include respond(tablet){
            top: 3rem;
        }
    }
    &__card-text{
        font-size: 1.1rem;
        font-weight: 700;
        text-transform: capitalize;
        color: $black;
    }
   
}


.wrap{
    flex-wrap: wrap;
}
