.features{
    padding: 5rem 10rem;
    @include respond(small-screen){
        padding: 4rem 6rem;
    }
    @include respond(mobile-screen){
        padding: 4rem 1rem;
    }
    &__heading-secondary{
        color: $orange;
        font-size: 2rem;
        margin-bottom: 5rem;
        text-shadow: 4px 6px 21px rgba(172,172,172,0.73);
        text-transform: capitalize;
    }
    &__text{
        font-weight: 700;
        color: $black;
        
    }
    &__cards{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include respond(mobile-screen){
            flex-direction: column;
        }
    }
    &__card{
        height: 17rem;
        width: 12rem;
        background-color: $white;
        box-shadow: $box-shadow;
        border: none;
        border-radius: $border-radius;
        margin-top: 2rem;
        @include respond(tablet){
            height: 19rem;
        }
    }
    &__card-image{
        height: 14rem;
        width: 12rem;
        object-fit: cover;
    }
    &__card-title{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: -2.5rem;
    }
    &__card-more{
        position: relative;
        color: $white;
        font-size: 1rem;
        top: -1rem;
        padding: 0 2rem;
        text-align: center;
    }
    &__card-more-image{
        height: 9.5rem;
        width: 10rem;
        top: 1rem;
        left: 1rem;
        position: relative;
        box-shadow: $box-shadow;
    }
    &__button{
        position: relative;
        top: 4rem;
        left: 1.5rem;
        @include respond(tablet){
            top: 3rem;
        }
    }
    &__card-text{
        font-size: 1rem;
        font-weight: 700;
        text-transform: capitalize;
        color: $black;
        flex: 0 0 62%;
    }
    &__card-rating{
        font-size: 1rem;
        font-weight: 700;
        color: $black;
    }
    &__card-bottom{
        padding: 1rem 1rem;
        @include respond(tablet){
           padding: 2rem 2rem;
        }
    }
    &__card-name{
        margin-left: 1rem;
    }
}

.star{
    display: inline-block;
    padding: 0 1rem;
}

.user{
    display: inline-block;
    padding: 0 2rem;
}

.wrap{
    flex-wrap: wrap;
}
