@import './variables';
@import './mixins';

.btn{
    border-radius: $border-radius;
    color: $white;
    padding: .7rem 2rem;
    border: $border-transparent;
    z-index: 1;
    cursor: pointer;

    &:hover{
        box-shadow: $box-shadow-hover;    
    }

    &--primary{
        @include button-style($blue)
    }

    &__text {
        font-size: 1rem;  
        font-family: 'Avenir', sans-serif;
        text-transform: capitalize;
      }
}