.footer{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    background-color: $blue;
    color: $white;
    font-size: 1rem;
    padding: 5rem 7rem;
    @include respond(small-screen){
        padding: 5rem 3rem;
        flex-wrap: wrap;
    } 
    
    &__title-text{
        margin-bottom: 1.5rem;
        font-weight: 700;   
        text-transform: capitalize;
    }
    >div{
        @include respond(mobile-screen){
            margin-top: 2.5rem;
        } 
    }
    &__item{
        padding-left: 0;
    }
    &__list{
        list-style: none;
        text-transform: capitalize;
    }
    
    
    &__connect{
        @include respond(mobile-screen){
            flex: 0 0 100%;
        }
    }

}