.about{
    padding: 0 13rem;
    &__heading-secondary{
        color: $orange;
        font-size: 2.5rem;
        text-shadow: 4px 6px 21px rgba(172,172,172,0.73);
    }

    &__heading-primary{
        color: $blue;
        font-size: 5rem;
        text-shadow: 4px 6px 21px rgba(172,172,172,0.73);
    }
    &__us{
        padding: 5rem 0;
    }
    &__us-title{
        font-size: 1.2rem;
        font-weight: 700;
        color: $blue;
        margin-bottom: 1.5rem;
        text-shadow: 4px 6px 21px rgba(172,172,172,0.73);
    }

    &__text{
        color: $black;
        margin-bottom: 2rem;
        text-shadow: 4px 6px 21px rgba(172,172,172,0.73);
    }
    &__form-title{
        color: $blue;
        font-size: 3rem;
        text-shadow: 4px 6px 21px rgba(172,172,172,0.73);
        text-align: center;
    }

    &__form{
        width: 60%;
        box-shadow: $box-shadow;
        border-radius: 1rem;
        display: flex;
        padding: .5rem 0;
        justify-content: space-around;
        margin: 5rem 15rem
    }
    &__input{
        padding: 1rem 1rem;
        font-size: 1rem;
        color: $black;
        height: 4rem;
        width: 13rem;
        border: none;
        outline: none;
    }
}

.align-right{
    text-align: right;
}