
.countdown{
    padding: 0rem 5rem 5rem 5rem;
    margin-top: -10rem;
    @include respond(big-tab){
      margin-top: -20rem;
    }
    @include respond(tablet){
      margin-top: -23rem;
    }
    @include respond(small-screen){
      margin-top: -9rem;
    }
    &__title{
        color: $orange;
        font-size: 2.5rem;
        text-align: center;
        margin: 2rem 0;
    }
}

.flip-countdown,
.flip-countdown-piece{
 margin: 0 1.22em !important;
}

.card__bottom{
  background: $orange !important;
}

.card__top{
  background: $blue !important;
}

.card__back::before{
  background: $orange !important;
}