html,
body {
  margin: 0 !important;
	padding: 0 !important;
  font-size: 16px;
  line-height: normal;
  font-family: 'Avenir', sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
}

body{
  background: linear-gradient(to left bottom, #ffcb0d2d, #ffb25a28, #ffa29828, #ffa7cd4f, #ffb5ef41, #edacf431, #d5a5fa34, #b99fff3d, #a280ff48, #8860ff3b, #6a3dff36, #4400ff23);
  background-attachment: fixed;
    background-repeat: no-repeat;
  background-size: cover;
}



@media screen and (max-width: 1024px) {
  html,
  body{
    font-size: 13px;
  }
}

@media screen and (max-width: 900px) {
  html,
  body{
    font-size: 12px;
  }
}

/* body::before{
  content: '';
  background: url('../public/images/Background.png');
  background-size: auto;
  background-repeat: no-repeat;
  opacity: 0.17;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Avenir";
  src: url("/fonts/avenir/Avenir-Book.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Avenir Bold";
  src: url("/fonts/avenir/Avenir-Black.otf");
  font-style: medium;
  font-weight: 700;
  font-display: swap;
}
